/* welcome section */
.welcome-section {
    display: flex;
    justify-content: center;
}

.woman-img {
    max-width: 70%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: lightslategrey;
    padding: 0em 10% 0em 10%;
}