/* base styles */
body {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

/* header styles */
.title {
    padding: 0.25em;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2em;
    font-size: 18px;
}

/* welcome section */
.welcome-section {
    display: flex;
    justify-content: center;
}

.woman-img {
    max-width: 70%;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: lightslategrey;
    padding: 0em 10% 0em 10%;
}